@import "variables.less";

// Creates a wrapper for a series of columns.
.mesh-row {
  margin: 0 (@gutter-total-width / -2);

  &.no-reset {
    margin: 0;
  }

  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

// Columns basic styles
[class*="mesh-xxs"],
[class*="mesh-xs"],
[class*="mesh-s"],
[class*="mesh-m"],
[class*="mesh-l"],
[class*="mesh-xl"] {
  position: relative;
  float: left;
  width: 100%;
  padding-right: (@gutter-total-width / 2);
  padding-left: (@gutter-total-width / 2);
  box-sizing: border-box;
}

// Columns formula
.column-size(@columns) {
  width: percentage((@columns / @grid-columns));
}

// Columns sizes for different screens resolutions
.mesh-xxs-1,
.mesh-1 {
  .column-size(1);
}

.mesh-xxs-2,
.mesh-2 {
  .column-size(2);
}

.mesh-xxs-3,
.mesh-3 {
  .column-size(3);
}

.mesh-xxs-4
.mesh-4 {
  .column-size(4);
}

.mesh-xxs-5,
.mesh-5 {
  .column-size(5);
}

.mesh-xxs-6,
.mesh-6 {
  .column-size(6);
}

.mesh-xxs-7,
.mesh-7 {
  .column-size(7);
}

.mesh-xxs-8,
.mesh-8 {
  .column-size(8);
}

.mesh-xxs-9,
.mesh-9 {
  .column-size(9);
}

.mesh-xxs-10,
.mesh-10 {
  .column-size(10);
}

.mesh-xxs-11,
.mesh-11 {
  .column-size(11);
}

.mesh-xxs-12,
.mesh-12 {
  .column-size(12);
}

@media (min-width: (@screen-xxs)) {
  .mesh-xs-1 {
    .column-size(1);
  }

  .mesh-xs-2 {
    .column-size(2);
  }

  .mesh-xs-3 {
    .column-size(3);
  }

  .mesh-xs-4 {
    .column-size(4);
  }

  .mesh-xs-5 {
    .column-size(5);
  }

  .mesh-xs-6 {
    .column-size(6);
  }

  .mesh-xs-7 {
    .column-size(7);
  }

  .mesh-xs-8 {
    .column-size(8);
  }

  .mesh-xs-9 {
    .column-size(9);
  }

  .mesh-xs-10 {
    .column-size(10);
  }

  .mesh-xs-11 {
    .column-size(11);
  }

  .mesh-xs-12 {
    .column-size(12);
  }
}

@media (min-width: (@screen-xs)) {
  .mesh-s-1 {
    .column-size(1);
  }

  .mesh-s-2 {
    .column-size(2);
  }

  .mesh-s-3 {
    .column-size(3);
  }

  .mesh-s-4 {
    .column-size(4);
  }

  .mesh-s-5 {
    .column-size(5);
  }

  .mesh-s-6 {
    .column-size(6);
  }

  .mesh-s-7 {
    .column-size(7);
  }

  .mesh-s-8 {
    .column-size(8);
  }

  .mesh-s-9 {
    .column-size(9);
  }

  .mesh-s-10 {
    .column-size(10);
  }

  .mesh-s-11 {
    .column-size(11);
  }

  .mesh-s-12 {
    .column-size(12);
  }
}

@media (min-width: (@screen-s)) {
  .mesh-m-1 {
    .column-size(1);
  }

  .mesh-m-2 {
    .column-size(2);
  }

  .mesh-m-3 {
    .column-size(3);
  }

  .mesh-m-4 {
    .column-size(4);
  }

  .mesh-m-5 {
    .column-size(5);
  }

  .mesh-m-6 {
    .column-size(6);
  }

  .mesh-m-7 {
    .column-size(7);
  }

  .mesh-m-8 {
    .column-size(8);
  }

  .mesh-m-9 {
    .column-size(9);
  }

  .mesh-m-10 {
    .column-size(10);
  }

  .mesh-m-11 {
    .column-size(11);
  }

  .mesh-m-12 {
    .column-size(12);
  }
}

@media (min-width: (@screen-m)) {
  .mesh-l-1 {
    .column-size(1);
  }

  .mesh-l-2 {
    .column-size(2);
  }

  .mesh-l-3 {
    .column-size(3);
  }

  .mesh-l-4 {
    .column-size(4);
  }

  .mesh-l-5 {
    .column-size(5);
  }

  .mesh-l-6 {
    .column-size(6);
  }

  .mesh-l-7 {
    .column-size(7);
  }

  .mesh-l-8 {
    .column-size(8);
  }

  .mesh-l-9 {
    .column-size(9);
  }

  .mesh-l-10 {
    .column-size(10);
  }

  .mesh-l-11 {
    .column-size(11);
  }

  .mesh-l-12 {
    .column-size(12);
  }
}

@media (min-width: (@screen-l)) {
  .mesh-xl-1 {
    .column-size(1);
  }

  .mesh-xl-2 {
    .column-size(2);
  }

  .mesh-xl-3 {
    .column-size(3);
  }

  .mesh-xl-4 {
    .column-size(4);
  }

  .mesh-xl-5 {
    .column-size(5);
  }

  .mesh-xl-6 {
    .column-size(6);
  }

  .mesh-xl-7 {
    .column-size(7);
  }

  .mesh-xl-8 {
    .column-size(8);
  }

  .mesh-xl-9 {
    .column-size(9);
  }

  .mesh-xl-10 {
    .column-size(10);
  }

  .mesh-xl-11 {
    .column-size(11);
  }

  .mesh-xl-12 {
    .column-size(12);
  }
}
